#header {
    color: #fff;
    background: #262626;
    font-weight: 400;
}

.headerContainer {
    padding-top: 15px;
    padding-bottom: 15px;
}

#headingLink {
    text-decoration: none !important;
    color: #fff !important;
    font-weight: 400;
}

#headingLink:hover {
    text-decoration: underline !important;
    color: #fff !important;
}