#spr책khjelp-header {
    color: #fff;
    background: #262626;
    font-weight: 400;
}

#spr책khjelp-headerContainer {
    padding-top: 15px;
    padding-bottom: 15px;
}

#spr책khjelp-headingLink {
    text-decoration: none !important;
    color: #fff !important;
    font-weight: 400;
}

#spr책khjelp-headingLink:hover {
    text-decoration: underline !important;
    color: #fff !important;
}