/* #språkhjelp-back-to-top { */
#språkhjelp-back-to-top {
    z-index: 999;
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 100px;
    background: #262626;
    border: 1px solid #fff;
}

#språkhjelp-back-to-top:hover {
    background: #000;
}