body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f7f7f7;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navds-accordion--indent > :where(.navds-accordion__item) > :where(.navds-accordion__content) {
    padding: var(--a-spacing-3) var(--a-spacing-3) 18px;
}

.navds-heading--large {
    letter-spacing: -0.030em;
}

.navds-button--secondary {
    background: white;
}

.navds-modal__overlay {
    z-index: 9999;
}

.språkhjelp-mr-2 {
    margin-right: 5px;
}

.navds-modal {
    max-width: 600px;
}

.aksel-blue-heading {
    color: #004367;
}

.mobilvisning-label {
    flex: auto;
    align-self: center;
    padding-bottom: 0.5rem;
    line-height: 1.5em;
}

.mobilvisning-button {
    display: none;
}

@media screen and (min-width: 960px) {
    .mobilvisning-button {
        display: inline;
    }

    .mobilvisning-label {
        padding-bottom: 0.0rem;
    }

    .mobilvisning-container {
        width: 100%;
        display: flex;
        margin-top: -12px;
        margin-bottom: -4px;

    }
}

.navds-switch__content {
    display: flex;
    flex-direction: column;
    gap: var(--navds-spacing-1);
    padding: 0.75rem 0 0.75rem 3.25rem;
}

.ProseMirror {
    border: 1px solid gray;
    min-height: 240px;
    transition: height .1s ease-out;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 1.5rem;
    border-radius: 4px;
    background: #fff;
}

.ProseMirror:focus {
    outline: 2px solid #00347d;
}

.ProseMirror li {
    margin: 0;
    padding: 0;
}

.ProseMirror P {
    line-height: 1.5em;
}